body {
    background-color: #1D1C24;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #1D1C24;
}

header li {
    display: inline;
}

header a {
    text-decoration: none;
    color: #808080;
    margin: 20px;
}

header a:hover {
    color: #AD343E;
}

.title-right {
    text-align: right;
    color: #2A2931;
    font-size: 170px;
    font-weight: 700px;
    line-height: 190px;
    margin-bottom: 20px;
}

.title-left {
    text-align: left;
    color: #2A2931;
    font-size: 170px;
    font-weight: 700px;
    line-height: 190px;
}

/* Botões */
.button-falecomigo {
    background: #ad343e;
    color: rgb(240, 240, 240);
    font-size: 20px;
    padding: 10px;
    margin: 40px 0px 0px 110px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-weight: 500;
    border-radius: 5px;
}

.button-falecomigo:hover {
    opacity: 50%;
}

.button-github {
    background: #242426;
    color: white;
    font-size: 20px;
    padding: 10px;
    /* margin: 40px 0px; */
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.button-github:hover {
    opacity: 50%;
}

.button-linkedin {
    background: #3450ad;
    color: white;
    font-size: 20px;
    padding: 10px;
    /* margin: 40px 0px; */
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.button-linkedin:hover {
    opacity: 50%;
}

.link-inline {
    text-decoration: none;
}

/* Containers */
.container {
    width: 1500px;
    margin: auto;
    /* border: 10px solid red; */
}

/* Landing */
#landing {
    margin: 210px 0px;
}

.landing-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4em;
    text-align: left;
    margin: 0px 200px 0px 110px;
    color: rgb(211, 209, 209);
}

.landing-sub {
    text-align: left;
    margin: 20px 0px 0px 110px;
    color: #808080;
    font-size: 25px;
}

.landing-sub a:hover {
    opacity: 50%;
}

#fotomatt {
    margin: 0px 110px 0px 0px;
    width: 310px;
}

#fotomatt:hover {
    opacity: 60%;

}

.frase-do-dia {
    font-family: cursive; 
    font-size: 17px; 
    width: 300px; 
    color: #b1b1b1;
}

/* Cores das fontes */
.red-text {
    color: #ad343e;
}

.yellow-text {
    color: #F3A712;
	/* opacity: 60%;  mudar a opacidade causa conflito com o cabeçalho*/
}

.blue-text {
    color: #3762ee; 
}

/* Colunas */
.columns {
    display: flex;
    justify-content: center;
}

.col-landing {
    margin: 60px; 
    justify-content: center;
}

.col {
	margin: 0px 50px;
	padding: 100px;
	width: 400px;
	text-align: left;
	/* border: 2px solid red; */
}

.col-about {
    margin: 0 20px;
    padding: 0px 0px 50px 0px;
    text-align: left;
}

.col-likes {
    background-color: #353537;
    margin: 0 20px;
    padding: 10px;
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 50%;
    color: #D3D1D1;
}

.col-likes img {
    border-radius: 15%;
    width: 200px;
    height: 200px;
}

.col-likes img:hover {
    width: 210px;
    height: 210px;
}

.col-lang {
    margin: 0px auto 100px;
    color: #D3D1D1;
}

/* Sobre mim */
#aboutme {
    text-align: center;
    color: #D3D1D1;
    font-family: monospace;
    margin: 100px;
}

/* Habilidades */
#skills {
    margin: 100px 0px;
}

#skills ul {
    list-style-type: none;
}

.hard-skills {
    text-align: left;
    margin-right: 500px;
    color: #808080;
    font-size: 50px;
}

.hard-skills li {
    font-family: monospace;
    line-height: 50px;
    color: #8d333b;
    font-size: 30px;
}

.soft-skills {
    text-align: left;
    color: #808080;
    font-size: 50px;

}

.soft-skills li {
    text-align: left;
    font-family: monospace;
    line-height: 50px;
    color: #3954aa;
    font-size: 25px;
}

.languages {
    text-align: center;
    color: #808080;
    font-size: 50px;
}

.languages p {
    color: #D3D1D1;
    font-family: monospace;
    text-align: left;
    font-size: 25px;
}

.lang-code {
    font-style: italic;
}

/* Likes */
#likes {
    text-align: center;
    margin-bottom: 130px;
		color: #D3D1D1;
}

#likes h1 {
	font-size: 50px;
	margin-bottom: 200px;
}

#likes:hover {
	color: #ad343e;
}


/* Imagem */
.round-image {
    border-radius: 30px;
}

.iframe-link iframe {
    display: none;
}

.iframe-link:hover iframe {
    position: absolute;
    z-index: 0;
    display: inline-block;
    width: 385px;
    height: 520px;
    border: none;
    opacity: 50%;
}