.contact-btn {
  color: #F84C6E;
  border: #F84C6E solid 3px;
  border-radius: 15px;
  background-color: transparent;
  font-size: 1.8em;
  padding: 0.5em 1em;
  margin-left: 60%;
}

.contact-btn:hover {
  cursor: pointer;
}

.button-fill-left {
  box-shadow: inset 0px 0px 0px #F84C6E;
  transition: all 0.5s;
  }
  
.button-fill-left:hover {
  color: #0E1212;
  box-shadow: inset 7.7em 0px 0px #F84C6E;
}