.contact-btn {
	color: #f84c6e;
	border: #f84c6e solid 3px;
	border-radius: 15px;
	background-color: transparent;
	font-family: "Roboto Mono", "monospace";
	font-size: 1.8em;
	padding: 0.5em 1em;
	margin-left: 60%;
}

.contact-btn:hover {
	cursor: pointer;
}

.button-fill-left {
	box-shadow: inset 0px 0px 0px #f84c6e;
	transition: all 0.5s;
}

.button-fill-left:hover {
	color: #0e1212;
	box-shadow: inset 8.6em 0px 0px #f84c6e;
}
