header {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 20px;
	width: 100%;
}

nav {
	display: flex;
	width: 90%;
}

ul {
	display: flex;
	list-style-type: none;
	margin-left: auto;
}

ul > li {
	margin: 20px;
}

a {
	color: #d3d1d1;
	text-decoration: none;
}

.home-icon {
	width: 2em;
	margin: 20px;
}
