.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px blue solid; */
  margin-right: 5%;
}

img {
  width: 3em;
  margin-bottom: 2em;
}
