.work {
	height: 90vh;
	border: 2px solid green;
}

.limiter-work {
	/* border: 2px solid blue; */
	display: flex;
	margin-right: 10%;
	margin-left: 10%;
}

.work-heading {
	color: #44deb2;
	font-size: 7em;
	margin: 0;
	margin-left: auto;
}
